
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.clr{
    clear: both;
}
.container{
    width: 1200px;
    margin: auto;
}
.main-color{
    color: #ff305b;  
}
ul{
    list-style: none;

}
ul li{
    display: inline-block;
}
a{
    text-decoration: none;
}
 body{
    font-family: 'Source Sans Pro', sans-serif;
 }
/* header */
.header{
    background-image: url('images/slider-01.jpg');
    background-size: cover;
    height: 100vh;
    overflow: auto;
    position: relative;
}
/* nav section */
.nav{
    margin-top: 20px;
}
.layer{
    background-color: rgb(0 0 0 / 81%);
    position: absolute;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
  
    
}
.logo, .nav-text{
    float: left;
    width: 50%;
}


.nav-text ul li a{
color: white;
padding-left: 25px;
font-size: 17px;
}
.nav-text ul li a:hover{
    color: #ff305b;
}
.header-text{
    color: white;
   position: absolute;
   top: 40%;
   left: 40%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;

}
.header-text h1{
    font-size: 70px;
    font-weight: bold;
}
.header-text p{
    font-weight: lighter;
}
